<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%%= f.input :title, label: "Title", placeholder: "Title", required: true %>
      </div>
    </div>
    <% attributes.each do |attribute| -%>
      <% unless attribute.name == "title" -%>
        <div class="col-md-12">
          <div class="form-group">
            <%%= f.input :<%= attribute.column_name %>, label: "<%= attribute.column_name.humanize %>", placeholder: "<%= attribute.column_name.humanize %>", required: true %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="card-footer">
  <%%= f.submit "Submit", class: 'btn btn-primary btn-block' %>
</div>
<%% end %>