<section class="content-header">
  <div class="container-fluid">
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Edit <%= singular_table_name.titleize %></h3>
          </div>
          <%%= render partial: '<%= plural_table_name %>/form', locals: {<%= singular_table_name %>: @<%= singular_table_name %>} %>
        </div>

      </div>
    </div>
  </div>
</section>