<%% js = escape_javascript(render(partial: "<%= plural_table_name %>/index_partials/<%= plural_table_name %>",locals: {<%= plural_table_name %>: @<%= plural_table_name %> })) %>
$("#<%= plural_table_name %>_table").html("<%%= js %>");