<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <%%= link_to 'Back', <%= index_helper %>_path, class: 'btn btn-primary' %>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <p>
          <strong><%= attribute.human_name %>:</strong>
          <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
        </p>

      <% end -%>
    </div>
  </div>
</section>