<%%= form_for_filterrific @filterrific do |f| %>
<div class="row">
  <div class="col-lg-9 col-6">
    <div class="form-group">
      <%%= f.text_field(:search_query, class: 'filterrific-periodically-observed form-control', placeholder: 'Search') %>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="form-group">
      <%%= link_to 'Reset filters', reset_filterrific_url, class: 'btn btn-primary btn-block' %>
    </div>
  </div>
</div>
<%% end %>