<section class="content-header">
  <div class="container-fluid">
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <%%= link_to 'Add <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path, class: 'btn btn-primary' %><br><br>
            <%%= render partial: "<%= plural_table_name %>/index_partials/filters", locals: {filterrific: @filterrific} %>
          </div>
          <div class="card-body p-0" id="<%= plural_table_name %>_table">
            <%%= render partial: "<%= plural_table_name %>/index_partials/<%= plural_table_name %>", locals: {<%= plural_table_name %>: @<%= plural_table_name %>} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>