<table class="table table-condensed table-striped table-hover table-sm">
  <thead>
  <tr>
    <th><%%= filterrific_sorting_link(@filterrific, :title, opts = {label: 'Title'}) %></th>
    <% attributes.each do |attribute| -%>
      <% unless attribute.name == "title" %>
        <th><%= attribute.human_name %></th>
      <% end %>
    <% end %>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <%%= render partial: "<%= plural_table_name %>/index_partials/<%= singular_table_name %>", locals: {<%= singular_table_name %>: <%= singular_table_name %>} %>
  <%% end %>
  </tbody>
</table>
<div class="float-right">
  <%%= will_paginate @<%= plural_table_name %>, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>