<section class="content-header">
  <div class="container-fluid">
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <%%= link_to 'Back', <%= index_helper %>_path, class: 'btn btn-primary' %>
          </div>
          <% attributes.reject(&:password_digest?).each do |attribute| -%>
            <p>
              <strong><%= attribute.human_name %>:</strong>
              <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
            </p>

          <% end -%>
        </div>

      </div>
    </div>
  </div>
</section>