<tr>
  <td><%%= <%= singular_table_name %>.title %></td>
  <% attributes.each do |attribute| -%>
    <% unless attribute.name == "title" %>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
    <% end %>
  <% end %>
  <td>
    <%%= link_to 'Show', <%= singular_table_name %>, class: 'btn btn-primary btn-xs' %>
    <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-warning btn-xs' %>
    <%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
  </td>
</tr>